#
# Copyright 2025-2026 Scott Gigawatt
#
# Licensed under the Apache License, Version 2.0.
#
# .editorconfig: Keep repository text consistent across editors.
#

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{md,yml,yaml,toml,awk,jq}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{json,jsonc,json5,py,sh,bash}]
indent_size = 4

[.secrets.baseline]
indent_size = 2

[Makefile]
indent_style = tab
